<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid">
  <h2>My Angular 6 App </h2>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/elements" routerLinkActive="active">Elements</a>
      </li>
    </ul>
  </nav>
  
  <router-outlet>
    <!-- this is where the Angular Router will insert components matching the current path -->
  </router-outlet> 
</div>

